@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/*Raiz*/
:root {
    
    --cor1: #191E29;
    --cor2: #132d46;
    --cor3: #01c38d;
    --cor4: #696e79;
    --cor5: #ffffff;
    

}

/* -------------------------------------------ICONES */
.social-icons a {
    font-size: 40px;
    color: var(--cor5);
    transition: 0.3s;
}
.social-icons a:hover {
    color: var(--cor3);
}


/* -------------------------------------------Fundo da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);  
    background-attachment: fixed; 
}
html {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #0e0e0e;
    scroll-behavior: smooth;
}
span {
    color: var(--cor3);
}

/*---------------------------------------------BOTÃO PARA SUBIR PAGINA */
#btnTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor3);
    color: var(--cor2);
    font-size: 60px;
    cursor: pointer;
    display: none; 
    transition: transform 0.6s ease-in-out;
}
#btnTopo:hover {
    transform: scale(1.1);
}
  
/*---------------------------------------------CABEÇALHO */
header {
    padding: 15px 15px;
    background-color: var(--cor1);
    color: white;
}
.logo{
    display: flex;
    align-items: center; 
}
.logo img {
    height: 35px;
    padding-right: 25px;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}
.menu a {
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    transition: color 0.3s;    
}
.menu a:hover {
    color: var(--cor3);
}



/*----------------------------------------------Pagina Inicio */
#inicio{ 
    display: flex;
    justify-content: space-between;
    background-image: url(/IMG/fundo-inicio.png);
    background-color: var(--cor2);
    padding: 60px 10%;
    gap: 50px;
}
.dados-inicio {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background: none;
    color: var(--cor5);
    text-decoration: none;
    border: 2px solid var(--cor3);
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    width: fit-content;
    
}
.button a {
    color: var(--cor5);
}
.button:hover {
    background-color: #008f89;
}
.inicioOla h1 {
    font-family: "Poppins", serif;
    font-size: 50px;
    font-weight: 700;
    color: var(--cor5);
}
.inicioOla h2 {   
    font-family: "Poppins", serif;
    font-size: 80px;
    font-weight: 550;
    color: var(--cor5);
}
.inicioOla h3 {
    font-family: "Poppins", serif;
    font-size: 45px;
    font-weight: 400;
    color: var(--cor5);
}
.inicioEu p{
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 200;
    color: var(--cor5);
}
.img-inicio img {
    padding-top: 70px;
    padding-right: 40px;
    justify-content: center;
    width: 400px;
    transition: transform 0.9s ease-in-out;
}
/* ------------------------------------------------------------------- */

/* projetos */
/* Seção Projetos */
#projetos {
    background-image: url(/IMG/fundo.png);
    filter: brightness(1.4) contrast(1.1);
    padding: 30px 10%;
    background-color: #000000;
    text-align: center;
}
#projetos h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: var(--cor3);
}
#projetos .descricao {
  font-size: 1rem;
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto 40px;
}
/* Cards de projetos */

.card .miniico img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}
.cards-projetos {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
    background-color: rgba(44, 114, 142, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 280px;
    max-width: 350px;
    padding: 20px;
    transition: transform 0.3s;
    position: relative;
    padding-bottom: 60px;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 12px var(--cor3);
}
.card img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;
}
.card h3 {
  font-size: 1.2rem;
  color: var(--cor3);
  margin-bottom: 10px;
}
.card p {
  font-size: 0.95rem;
  color: var(--cor5);
  margin-bottom: 15px;
}
.btn-card {
    
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    display: inline-block;
    padding: 10px 20px;
    background: none;
    color: var(--cor5);
    text-decoration: none;
    border: 2px solid var(--cor3);
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    width: fit-content;
}
.btn-card:hover {
  background: var(--cor3);
}
/* Botão final */
.btn-mais-projetos {
  margin-top: 40px;
}
.btn-mais-projetos .button {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 8px;
}
/* ------------------------------------------------------------------- */

/* skils */
/*  PARTE 1 ///////////////////////// */
#Skills {
    background-color: var(--cor1);
    background-image: url(/IMG/fundo-inicio.png);
    padding: 60px 10%;
}
.skills-inicio h1 {
    font-family: "Poppins", serif;
    font-size: 42px;
    font-weight: 400px;
    text-align: center;
    margin-bottom: 15px;
    color: var(--cor5);
    
}
.skills-inicio p {
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 300px;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    color: var(--cor5);
    
}
.todos_itens{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    gap: 30px;
}
.skill-item { 
    border-radius: 12px;
    background-color: rgba(32, 32, 32, 0.5);   
    flex: 1 1 250px;         
    max-width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    transition: box-shadow 0.6s ease;
}
.skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 12px var(--cor3);
}
.skill-logo img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}
.skill-descricao h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  color: var(--cor3);
}
.skill-descricao h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color:var(--cor5);
}
.skill-descricao p {
  font-size: 0.85rem;
  color: var(--cor5);
}

/* ------------------------------------------------------------------- */

/* Página sobre */
#sobre {  
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 60px 10%;
    border-radius: 12px;            
}
.caixa1 {
    flex: 2;
}
.caixa1 h1, .caixa1 h2 {
    font-family: "Poppins", serif;
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--cor3);
}
.caixa1 p {
    text-align: left;
    padding: 5px;
    font-family: "Poppins", serif;
    font-size: 15px;
    font-weight: 400;
}
.caixa1 strong, 
.caixa1 span {
    color: var(--cor2);
    font-weight: bold;
}
.caixa2 {
    flex: 1;
    display: flex;
    justify-content: center; 
}
#foto-sobre {
    max-width: 250px;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#foto-sobre:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}


/* ------------------------------------------------------------------- */

/* Página Contato */
#contato {
    justify-content: center;
    background-color: var(--cor2);
    padding-top: 60px;
    margin-top: 20px;
    width: 60%;
    display: flex;
    gap: 40px;
    width: 100%;
}
#contato .contato1 {
    width: 600px;
    height: 600px;
    align-items: center;
}
#contato .contato2 {
    width: 400px;
    height: 300px;

}

/* parte 1 */

.contato1 h1 {
    padding-bottom: 30px;
    color: var(--cor5);
    margin-top: 5px;
    font-family: "Poppins", serif;
    font-size: 50px;
}
.contato1 p {
    color: var(--cor5);
    margin: 5px;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    padding: 5PX;
    line-height: 1.7; 
 
}
.contato1 h2 {
    padding-top: 30px;
    color: var(--cor5);
    font-family: "Poppins", serif;
    font-size: 25px;
}

/* parte 2 */
.contato2 h1 {
    color: var(--cor5);
    margin-top: 5px;
    font-family: "Poppins", serif;
    font-size: 50px;
    text-align: left;
}
.contato2 h2 {
    color: var(--cor5);
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 30px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
input,textarea {
    padding: 8px 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    color: #1a1a1a;
    background-color: #f0f0f0;
    transition: border 0.3s, box-shadow 0.3s;
    width: 100%;
}
input::placeholder,textarea::placeholder {
    color: #7a7a7a;
    font-size: 0.95rem;
}
input:focus,textarea:focus {
    border-color: var(--cor3);
    box-shadow: 0 0 6px rgba(0, 119, 255, 0.3);
    background-color: #fff;
}
textarea {
    min-height: 150px;
    resize: vertical;
    line-height: 1.5;
}

/* Botão estilizado */
.contato2 button {
    width: 100px;
    margin-bottom: 12px; 
    padding: 10px 20px;
    background: none;
    color: white;
    border: 2px solid #00ccbb;
    cursor: pointer;
    margin-top: 12px;
    transition: background-color 0.3s ease;
}
button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    width: 100%;
}
button:hover {
    background-color: #008f89;
}

/* ------------------------------------------------------------------- */

/* Rodapé */

.rodape {
    font-size: 12px;
    background-color: var(--cor1);
    color: white; 
    text-align: center; 
    padding: 10px; 
    bottom: 0;
    width: 100%;
}

/* ------------------------------------------------------------------- */

/* Obrigado */

#obrigado{
    width: 100%;
    height: 90vh;;
    background-image: url(/IMG/fundo-inicio.png);
    background-color: var(--cor2);
    display: flex;
    align-items: center;
    flex-direction: column;    
}
.obrigadoOla h1 {
    padding-top: 20px;
    font-family: "Poppins", serif;
    font-size: 60px;
    color: var(--cor3);
}
.obrigadoEu p{
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 30px;
    font-weight: 200;
    color: var(--cor5);
}


.rodape2 {
    font-size: 12px;
    background-color: var(--cor1);
    color: white; 
    text-align: center;  
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
 }









/*------------------------------------RESPONSIIVO*/

@media screen and (max-width: 1220px) {
.inicioOla h1 {
    font-family: "Poppins", serif;
    font-size: 35px;
    font-weight: 700;
    color: var(--cor5);
}
.inicioOla h2 {   
    font-family: "Poppins", serif;
    font-size: 54px;
    font-weight: 550;
    color: var(--cor5);
}
.inicioOla h3 {
    font-family: "Poppins", serif;
    font-size: 40px;
    font-weight: 400;
    color: var(--cor5);
}
.inicioEu p{
    font-family: "Poppins", serif;
    font-size: 15px;
    font-weight: 200;
    color: var(--cor5);
}
.img-inicio img {
    justify-content: center;
    width: 300px;
    transition: transform 0.9s ease-in-out;
}
}

@media screen and (max-width: 1150px) {
.inicioOla h1 {
    font-family: "Poppins", serif;
    font-size: 25px;
    font-weight: 700;
    color: var(--cor5);
}
.inicioOla h2 {   
    font-family: "Poppins", serif;
    font-size: 38px;
    font-weight: 550;
    color: var(--cor5);
}
.inicioOla h3 {
    font-family: "Poppins", serif;
    font-size: 25px;
    font-weight: 400;
    color: var(--cor5);
}
.inicioEu p{
    font-family: "Poppins", serif;
    font-size: 11px;
    font-weight: 200;
    color: var(--cor5);
}
.img-inicio img {
    padding-right: 0px;
    padding-top: 50px;
    justify-content: center;
    width: 200px;
    transition: transform 0.9s ease-in-out;
}
/*--------------------------CONTATO*/
#contato {
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}
#contato .contato1,  #contato .contato2 {
    width: 100%; 
    height: auto;
}
.contato2 h1, .contato2 h2 {
    padding-top: 40px;
    text-align: center;
}
form {
    max-width: 80%;  
    margin: 0 auto;  
}
}

@media screen and (max-width: 500px) {

/*--------------------------CABEÇALHO*/
header {
    padding: 10px 10px;
    background-color: var(--cor1);
    color: white;
}
.logo{
    display: flex;
    align-items: center; 
}
.logo img {
    height: 20px;
    padding-right: 15px;
}
.menu {
    list-style: none;
    display: flex;
    gap: 15px;
}
.menu a {
    font-family: "Poppins", serif;
    font-size: 12px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    transition: color 0.3s;    
}

/*--------------------------INICIO*/
#inicio{ 
    padding: 20px 10%;
    display: block;
    justify-content: space-between;
    background-color: var(--cor2);
    padding: none;
    gap: none;
}
.inicioOla h1 {
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 25px;
    font-weight: 700;
    color: var(--cor5);
    padding-bottom: 10px;
}
.inicioOla h2 {   
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 38px;
    font-weight: 550;
    color: var(--cor5);
    padding-bottom: 10px;
}
.inicioOla h3 {
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 22px;
    font-weight: 400;
    color: var(--cor5);
}
.inicioEu p{
    text-align: center;
    font-family: "Poppins", serif;
    font-size: 15px;
    font-weight: 200;
    color: var(--cor5);
    padding-bottom: 10px;
}
.img-inicio img {
    display: none;
}
.button {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background: none;
    color: var(--cor5);
    text-decoration: none;
    border: 2px solid var(--cor3);
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 10px;
    
}
.social-icons {
    text-align: center;
}
.social-icons a:hover {
    color: var(--cor3);
}

/*--------------------------SOBRE*/
#sobre {
    flex-direction: column;
    text-align: center;
    padding: 30px 5%;
}
.caixa1 {
    order: 2;
}
.caixa2 {
    order: 1;
    margin-bottom: 15px;
    padding-top: 30px;
}
#foto-sobre {
    max-width: 180px;
}

/*--------------------------CONTATO*/
#contato {
    flex-direction: column; 
    align-items: center;
    text-align: center;
}
#contato .contato1,  #contato .contato2 {
    width: 100%; 
    height: auto;
}
form {
    max-width: 100%;  
    margin: 0 auto;  
}

.contato1 h1 {
    padding-bottom: 20px;
    color: var(--cor5);
    margin-top: 5px;
    font-family: "Poppins", serif;
    font-size: 30px;
}
.contato1 p {
    color: var(--cor5);
    margin: 5px;
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    padding: 5PX;
    line-height: 1.7; 
 
}
.contato1 h2 {
    padding-top: 30px;
    color: var(--cor5);
    font-family: "Poppins", serif;
    font-size: 25px;
}



.contato2 h1 {
    color: var(--cor5);
    margin-top: 5px;
    font-family: "Poppins", serif;
    font-size: 30px;
    text-align: center;
}
.contato2 h2 {
    color: var(--cor5);
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
}


